In [13]:
!python create_tables.py

Dropped table
Dropped table
Dropped table
Dropped table
Dropped table
Dropped table
Dropped table
Created table
Created table
Created table
Created table
Created table
Created table
Created table

In [14]:
!python etl.py

staged table
staged table
inserted table:

INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT DISTINCT
    TIMESTAMP 'epoch' + se.ts/1000 * INTERVAL '1 second' as setime,
    se.userId,
    se.level,
    ss.song_id,
    ss.artist_id,
    se.sessionId,
    se.location,
    se.userAgent
FROM staging_events se
JOIN staging_songs ss
    ON (se.song = ss.title)
    AND (se.artist = ss.artist_name)
WHERE se.page = 'NextSong'

inserted table:

INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT
    se.userId,
    se.firstName,
    se.lastName,
    se.gender,
    se.level
FROM staging_events se
WHERE se.page = 'NextSong'

inserted table:

INSERT into songs (song_id, title, artist_id, year, duration)
SELECT DISTINCT
    ss.song_id,
    ss.title,
    ss.artist_id,
    ss.year,
    ss.duration
FROM staging_songs ss

inserted table:

INSERT INTO artists (artist_id, artist_name, artist_location, artist_latitude, artist_longitude)
SELECT DISTINCT
    ss.artist_id,
    ss.artist_name,
    ss.artist_location,
    ss.artist_latitude,
    ss.artist_longitude
FROM staging_songs ss

inserted table:

INSERT INTO times (start_time, hour, day, week, month, year, weekday)
SELECT DISTINCT
    TIMESTAMP 'epoch' + se.ts/1000 * INTERVAL '1 second' as setime,
    EXTRACT(HOUR FROM setime),
    EXTRACT(DAY FROM setime),
    EXTRACT(WEEK FROM setime),
    EXTRACT(MONTH FROM setime),
    EXTRACT(YEAR FROM setime),
    EXTRACT(DOW FROM setime)
FROM staging_events se
WHERE se.page = 'NextSong'